* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #e2e2e2;
}

/* comuni */
.blu {
    background-color: #45ABEA;
}


/* / comuni */


/* header  */
#header-logo{
    width: 100%;
    height: 100px;
    background-color: white;
}  

#logo{
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    line-height: 100px;
    vertical-align: middle;
}

#scritta-logo{
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
    vertical-align: middle;
}
/* / header  */






/* main  */
#contenitore1{
    width: 70%;
    height: 80px;
    margin: 100px auto 0;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pulsante1{
    display: inline-block;
    width: 90px;
    height: 30px;
    margin-left: 50px;
    margin-top: 25px;
    padding: 6px 13px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    }

#pulsante2{
    display: inline-block;
    width: 100px;
    height: 30px;
    border: rgb(187, 187, 187) solid 1px;
    border-radius: 8px;
    padding: 6px;
    margin-left: 5px;
    color: lightgray;
    font-size: 14px;
    margin-top: 25px;
}







/* / main  */