* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #e2e2e2;
}

/* comuni */
.verde{
    background-color: white;
    border: lightgreen solid 2px;
    border-radius: 50%;
    font-size: 12px;
    color: lightgreen;
    padding: 4px 6px;
}

.spazio{
    margin-left: 10px;
}

.font{
    font-weight: 600;
}

.editorial{
    display: inline-block;
    border-radius: 40%;
    background-color: #45ABEA;
    width: 60px;
    height: 30px;
    text-align: center;
    padding: 6px;
    color: white;
    font-size: 13px;
}

/* / comuni */


/* header  */
#header-logo{
    width: 100%;
    height: 100px;
    background-color: white;
}  

#logo{
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    line-height: 100px;
    vertical-align: middle;
}

#scritta-logo{
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
    vertical-align: middle;
}
/* / header  */






/* main  */
#contenitore1{
    width: 70%;
    height: 80px;
    margin: 100px auto 0;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: #e2e2e2 solid 2px;
}

.pulsante{
    display: inline-block;
    height: 30px;
    margin-top: 25px;
    border-radius: 8px;
    font-size: 14px;
}
.primo{
    width: 90px;
    margin-left: 50px;
    padding: 6px 13px;
    color: white;
    background-color: #45ABEA;
    }

.secondo{
    width: 100px;
    border: rgb(187, 187, 187) solid 1px;
    padding: 6px;
    margin-left: 5px;
    color: lightgray;
    margin-top: 25px;
}

#contenitore2{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: white; 
}

.contenitore3{
    margin-left: 50px;
    padding-top: 20px;
}

.verde{
    background-color: white;
    border: lightgreen solid 2px;
    border-radius: 50%;
    font-size: 12px;
    color: lightgreen;
    padding: 4px 6px;
}

/* / main  */