* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
}

/* comuni */



/* / comuni */


/* header  */
#header-logo{
    width: 100%;
    height: 100px;
    background-color: white;
}  

#logo{
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    line-height: 100px;
    vertical-align: middle;
}

#scritta-logo{
    font-size: 50px;
    font-family: Arial;
    font-weight: 700;
    line-height: 100px;
    vertical-align: middle;
}
/* / header  */






/* main  */




/* / main  */