* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #e2e2e2;
}

/* comuni */
.verde{
    background-color: white;
    border: lightgreen solid 2px;
    border-radius: 50%;
    font-size: 12px;
    color: lightgreen;
    padding: 4px 6px;
}

.rosso{
    background-color: white;
    border: red solid 2px;
    border-radius: 50%;
    font-size: 12px;
    color: red;
    padding: 4px 6px;
}

.spazio{
    margin-left: 10px;
    font-weight: 600;
}

.blu{
    border-radius: 30%;
    background-color: #45ABEA;
    width: 60px;
    height: 30px;
    padding: 6px;
}

.general{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: white;  
}
/* / comuni */


/* header  */
#header-logo{
    width: 100%;
    height: 100px;
    background-color: white;
}  

#logo{
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    line-height: 100px;
    vertical-align: middle;
}

#scritta-logo{
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
    vertical-align: middle;
}
/* / header  */


/* main  */
#contenitore1{
    width: 70%;
    height: 80px;
    margin: 100px auto 0;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: #e2e2e2 solid 2px;
}

.pulsante{
    display: inline-block;
    height: 30px;
    margin-top: 25px;
    border-radius: 8px;
    font-size: 14px;
}
.primo{
    width: 90px;
    margin-left: 50px;
    padding: 6px 13px;
    color: white;
    background-color: #45ABEA;
    }

.secondo{
    width: 100px;
    border: rgb(187, 187, 187) solid 1px;
    padding: 6px;
    margin-left: 5px;
    color: lightgray;
    margin-top: 25px;
}

#contenitore2{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: white; 
}

.contenitore3{
    margin-left: 50px;
    padding-top: 45px;
}

.spazio-liste{
    margin-top: 30px;
}

.viola{
    border-radius: 30%;
    background-color: rgb(87, 37, 110);
    width: 70px;
    height: 35px;
    padding: 10px 6px;
}

.verde-marcio{
    border-radius: 30%;
    background-color: rgb(52, 136, 132);
    width: 80px;
    height: 35px;
    padding: 10px 6px;
}

.arancio{
    border-radius: 35%;
    background-color: orange;
    width: 60px;
    height: 35px;
    padding: 10px 6px;
}

.rosa{
    border-radius: 35%;
    background-color: rgb(245, 129, 148);
    width: 60px;
    height: 35px;
    padding: 10px 6px;
}

.verdino{
    border-radius: 35%;
    background-color: rgb(138, 167, 71);
    width: 60px;
    height: 35px;
    padding: 10px 6px; 
}
/* / main  */